<% page_title("Media ") %>

<% content_for :banner do %>
  <%= render :partial => "moonwalk/media_banner" %>
<% end %>
<div id="media_images" class="grid_12 alpha omega">
  <h2>Moonwalk Images</h2>
  <button class="prev"><<</button>
  <div class="media_image_carousel">
      <ul>
          <li><img src="/photos/mwc1.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc2.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc3.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc4.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc5.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc6.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc8.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc9.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc10.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc11.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc12.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc13.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc14.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc15.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc16.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc17.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc18.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc19.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc20.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc21.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc22.jpg" width="150" height="226"></li>
          <li><img src="/photos/mwc25.jpg" width="150" height="226"></li>
      </ul>
  </div>
  <button class="next">>></button>
</div>


<div class="grid_12 alpha omega">
  <div id="media_player_main" class="video_box">
    
  </div>
</div>
<div id="media_videos" class="grid_12 alpha omega">
  <h2>Moonwalk Videos</h2>
  <div class="grid_12 alpha multi_player video_box">
    <%= image_tag('media_thumbs/don.jpg') %>
    <div class="grid_9">
      <h3>Don</h3>
      <p>
        Don is an 81 years young individual who until now has not been able to work out for any length of time due to the pressure and pain on his weak knees and lower back.  By using the Moonwalk Cardio System, Don can workout as long as he wants while maintaining his heart rate and doing all of it without the pain he is used to. Don was so excited about the system we almost could not get him to stop.
      </p>
      <p>
        <%= link_to "Watch It", "", :id => "don_clip", :rel => 'div.overlay' %>
      </p>
    </div>
  </div>
  <div class="grid_12 alpha omega multi_player video_box">
    <%= image_tag('media_thumbs/jim.jpg') %>
    <div class="grid_9">
      <h3>Jim</h3>
      <p>
       Jim is an extraordinary individual whose past workouts consisted of a few minutes in a swimming pool only to come to a quick end due to the extreme pressure and pain in his knees due to his weight issue.  We lifted 170 pounds off of Jim and to his amazement he was able to receive a full Cardio workout like he has not been able to do in years without pressure or pain on his knees.
      </p>
      <p>
        <%= link_to "Watch It", "", :id => "jim_clip", :rel => 'div.overlay' %>
      </p>
    </div>
  </div>
  <div class="grid_12 alpha omega multi_player video_box">
    <%= image_tag('media_thumbs/gavin.jpg') %>
    <div class="grid_9">
      <h3>Gavin</h3>
      <p>
       Gavin is one of our many individuals who have come to us with an underlying physical disability.  His issue stems from his many years in kickboxing which has damaged the tendons in his ankles and given him limited mobility which limits his workout capabilities.  He was fairly skeptical when he first put on the Cardio Suit, but he was able to quickly see the benefits and was able to workout without any pain or discomfort on his injured ankles on both the treadmill and elliptical machines.
      </p>
      <p>
        <%= link_to "Watch It", "", :id => "gavin_clip", :rel => 'div.overlay' %>
      </p>
    </div>
  </div>
  <div class="grid_12 alpha omega multi_player video_box">
    <%= image_tag('media_thumbs/barbara.jpg') %>
    <div class="grid_9">
      <h3>Barbara</h3>
      <p>
       Barbara is an 82 years young senior who suffers from equilibrium balancing issues as well as mobility problems.  She was very unsure about even getting onto a motorized treadmill, so we started off slow, and increased her speed as her confidence increased.  No more than 30 seconds into the workout you can see the smile on her face and her excitement of being able to finally workout without the constant worry of falling down.  The Cardio Suit keeps her exceptionally stable while working out.
      </p>
      <p>
        <%= link_to "Watch It", "", :id => "barbara_clip", :rel => 'div.overlay' %>
      </p>
    </div>
  </div>
  <div class="grid_12 alpha omega multi_player video_box">
    <%= image_tag('media_thumbs/michelle.jpg') %>
    <div class="grid_9">
      <h3>Michelle</h3>
      <p>
        Michelle, like so many people have a hard time working out because she can't really initialize the benefits, because as we get older it is harder to stay in shape and lose the extra unwanted weight. When we suited Michelle up and took the weight off of her she was in total amazement.  This Cardio System empowers individuals who have been hesitant before to really want to workout now because they NOW know what if feels like to have the excess weight removed, and can realize what it would be like to have it permanently removed.
      </p>
      <p>
        <%= link_to "Watch It", "", :id => "michelle_clip", :rel => 'div.overlay' %>
      </p>
    </div>
  </div>
  <div class="grid_12 alpha omega multi_player video_box">
    <%= image_tag('media_thumbs/dennis.jpg') %>
    <div class="grid_9">
      <h3>Dennis</h3>
      <p>
       Dennis is the Inventor and Founder of the Moonwalk Cardio Anti-Gravity System.  Dennis has struggled with working out for years due to his weight problems.  Dennis has spent countless hours designing, testing, and developing what is quickly becoming the Next Generation in Cardio Fitnes,  the CARDIO-SUIT.  This system has been able to help Dennis better understand all aspects of what it takes to achieve a comfortable workout with the massive weight removal, as well as alleviating the pain associated with weight problems on joints, and giving YOU the best most comfortable and positive workout imaginable.
      </p>
      <p>
        <%= link_to "Watch It", "", :id => "dennis1_clip", :rel => 'div.overlay' %>
      </p>
    </div>
  </div>
</div>



<div class="overlay">
  <div id="player">    
  </div>
</div>

<%= javascript_include_tag 'video_scripts' %>